
{% extends 'base.html' %}
{% block title %}Portfolio List{% endblock %}
{% block content %}
<section id="post-list-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0 oswald-reg fs-25">Portfolio List</h3>
                    </div>
                    <div class="card-body">
                        {% for portfolio in portfolios %}
                        <div class="portfolio-item">
                        <h5 class="card-title">{{ portfolio.name }}</h5>
                        <p class="card-text oswald-reg fs-16">Profit/Loss: <span>0</span></p>
                        <p class="card-text oswald-reg fs-16">Date Created: <span>0</span></p>
                        <a href="{% url 'portfolio_detail' portfolio.pk %}" class="cta-btn text-white oswald-med fs-16">View Portfolio</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'portfolio_create' %}" class="cta-btn text-white oswald-med fs-16">Create Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}