{% extends 'base.html' %}
{% block title %}Portfolio Detail{% endblock %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
    <script src="{% static 'portfolio/js/pop_up.js' %}"></script>
{% endblock %}



{% block content %}
<h2>Portfolio Detail</h2>
<h1>{{ portfolio.name }}</h1>

<!-- Back to Portfolio List Button -->
<form action="{% url 'portfolio_list' %}" method="get">
    <button type="submit" class="btn btn-back">Back to Portfolio List</button>
</form>
<h2>Shares</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Upcoming Dividends</th>
        </tr>
    </thead>
    <tbody>
        {% for share in shares %}
        <tr>
            <td>{{ share.name }}</td>
            <td>{{ share.qty }}</td>
            <td>${{ share.data.current_price }}</td>
            <td>
                <ul>
                    {% for dividend in share.data.upcoming_dividends %}
                    <li>
                        {{ dividend.ticker }}: ${{ dividend.cash_amount }} ({{ dividend.currency }})<br>
                        on {{ dividend.pay_date }} <br>Payable ${{ dividend.amount_payable }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No shares in this portfolio.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'portfolio_edit' portfolio.id %}" method="get">
    <button type="submit" class="btn btn-edit">Edit Portfolio</button>
</form>


<button id="delete-button">Delete Portfolio</button>
<!-- Confirmation Dialog -->
<div id="confirmation-dialog" class="confirmation-dialog">
    <p>{{ delete_confirmation_message }}</p>
    <form method="post" action="{% url 'portfolio_delete' portfolio.pk %}">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <button type="button" id="cancel-button">Cancel</button>
    </form>
</div>

{% endblock %}
