{% extends 'base.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
{% load static %}

<section id="team-title"></section>
    <div class="container">
      <div class="team-title text-center">
        <h1 class="mb-0 oswald-reg fs-22 text-uppercase">Welcome to Sign in</h1>
        <img src="{% static 'images/title-icon.jpg' %}" alt="team-icon">
      </div>
    </div>
  </section>
  
  <!-- team title ends -->

  <!-- Login-form starts -->

<section id="Login-form"> 
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3">
            <div class="contact-title oswald-bold">
              <h1>Hello ! Sign in here</h1>
            </div>
          </div>
  
           <div class="col-lg-6">
              <div class="contact-form">
                <form method="post">
                    {% csrf_token %}

                    <div class="input-group">
                        {{form.email}}
                    </div>
  
                    <div class="input-group">
                        {{form.password}}
                    </div>
                    {% if form.non_field_errors %}
                    <small class="text-danger">{{ form.non_field_errors }}</small>
                {% endif %}
                    <button type="submit">Sign in</button>

                    <div class="form-footer mt-10">
                        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                    </div>
                    
                </form>
             </div>
           </div>
        </div>
  
    </div>
  </section>

{% endblock %}